{{#if settings.openpawz_show_back_to_site}}
<div class="pawz-back-bar">
  <div class="pawz-back-bar-inner">
    <a href="{{settings.openpawz_site_url}}" class="pawz-back-link" rel="noopener noreferrer">
      ← Back to OpenPawz
    </a>
    <div class="pawz-back-tagline">Community Forum</div>
  </div>
</div>
{{/if}}
